@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My DnD</h1>
    <h1 class="display-4"> Character Creator</h1>
    <p>Please log in or register to start creating characters!</p>
    
</div>
